/*************************************************************************
******************************GENERAL STYLES******************************
*************************************************************************/
*{
    box-sizing: border-box;
}
body {
    font-family: Lato, sans-serif;
    margin: 0;
    line-height: 1.4;
    background: #f2f2f2;
}
a{
    text-decoration: none;
    color: #333;
}

::selection {
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .7);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(0, 0, 0, .3);
}

