/**************************************************************************************
                                        HELPER
*****************************************************************************************/

.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.d-none{
    display: none;
}
.d-block {
    display: block;
}
.row{
    margin-left: -15px;
}
.clearfix:after,
.row:after {
    content: '';
    display: block;
    clear: both;
}
.row[class*=col-] {
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-12{
     width: 100%;
}
.row .col-11{
    width: 91.67%;
}
.row .col-6{
   width: 50%;
}
.row .col-4{
    width: 33.33%;
}
.row .col-3{
    width: 25%;
}
.row .col-1{
    width: 8.33%;
}
.row.no-top-bottom-padding [class*-col-],
[class*=col-] .no-top-bottom-padding {
    padding-bottom: 0;
    padding-top: 0;
}
.pull-left { float: left; }

.pull-right { float: right; }

.text-center {text-align: center;}
.text-left { text-align: left; }
.text-right { text-align: right; }
.p-0 { padding: 0px; }
.p-10 { padding: 10px;}
.p-20 { padding: 20px; }
.p-30 { padding: 30px; }
.p-40 { padding: 40px; }
p-t-10 { padding-top: 10px; }
p-b-10 { padding-bottom: 10px; }
.m-0 { margin: 0px; }
.m-10 { margin: 10px; }
.m-20 { margin: 20px; }
.m-30 { margin: 30px; }
.m-40 { margin: 40px;}
.m-t-0{ margin-top: 0;}
.m-t-15{margin-top: 15%;}
.m-t-10{margin-top: 10%;}
.m-t-16{margin-top: 16px;}
.m-b-5{margin-bottom: 5%;}
.m-l-5{margin-left: 5px;}
.img-responsive{ width: 100%; }




