#about{
   
}
#about h2{
    display: inline-block;
    margin-right: 20px;
}
#about .heading{
    text-align: center;
    @mixin smallScreen{
        margin-bottom: 20px;
    }
}
.quote{
    font-weight: bold;
}
.more-about{
    padding: 40px;
    background-color: rgba(0, 0, 0, .1);
    
}