.birthday-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-areas:
        'img img img'
        'img img img'
        'img img img';*/
    /*padding: 10px;*/
    box-sizing: content-box;
    
    @mixin smallScreen{
        display: flex;
    }
    
    @mixin smallScreen{
        flex-direction: column;
        flex-basis:100%;
        flex:1;
        max-width: 100%;
    }
    
    &-div{
        margin-right: 5px;
        margin-bottom: 5px;
        background: #1b4989;
        
        @mixin smallScreen{
            position: relative;
            height: 70vh;
            width: 100vh;
        }
    }
    
    &-img {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        
        &:hover{
            opacity: 50%;
            transition: all 1s ease-in-out;
        }
    }
}