.blue-btn{
    background-color: #1b4989;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    

}
.blue-btn a{
    background-color: #1b4989;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
}
.blue-btn:hover, a:hover{
    background-color: #09A5AE;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
}