.cooporate-events{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
    @mixin smallScreen{
        display: flex;
    }
    
    @mixin smallScreen{
        flex-direction: column;
        flex-basis:100%;
        flex:1;
        max-width: 100%;
    }
    
    &-images{
        margin-bottom: 5px;
        margin-right: 5px;
        background: #1b4989;
        position: relative;
        display: inline-block;
        @mixin smallScreen{
            position: relative;
            height: 70vh;
            width: 100vh;
        }
        
        &-text{
            position: absolute;
            top: 37%;
            display: inline-block;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        
        &-img{
            width: 100%;
            height: 100%;
            
            @mixin smallScreen{
                width: 100%;
                height: 100%;
            }
            
            &:hover{
                opacity: 30%;
                transition: all 1s ease-in-out;
            }
            
        }
    }
}
.cooporate-events-images-img:hover + .cooporate-events-images-text{
    display: block;
    opacity: 1;
}