#contact{
    display: flex;
    padding: 20px;
    background: rgba(0, 0, 0, .1);
    
    @mixin smallScreen{
        flex-direction: column;
        flex-basis:100%;
        flex:1;
        max-width: 100%;
    }
}

#contact>div{
    flex: 1;
}
.contact-form{
    padding-right: 30px;
    margin-left: -150px;
    
    @mixin smallScreen{
        margin-left: 0;
    }
}
.form-group{
    margin-bottom: .75rem;
}
.form-group label{
    display: block;
}
.form-group input,
.form-group textarea {
    padding: .5rem;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, .3);
    border-radius: 5px;
}
.form-group input:hover,
.form-group textarea:hover{
    border: solid 2px rgba(0, 0, 0, .5);
}
.website-links{
    text-align: left;
}
.main{
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
}

.sub-link{
    display: none;
}

#map{
    max-width: 100%;

}

.main a:hover{
    background: #1a1a1a;
    color: #fff;
}

.main-menu .main a:hover .sub-link{
    display: block;
}

.form-group-service{
    padding: 5px;
}

.select-service{
    padding: 5px;
}