.methodology_slider{
    &_image{
        width: 100%;
    }
}

.section {
    display: flex;
    
    @mixin smallScreen{
        flex-direction: column;
        flex-basis:100%;
        flex:1;
        max-width: 100%;
    }
    
    &_methodology {
        padding: 5%;
        flex: 2;
        
        &_divider{
            background: #1a1a1a;
            height: 2px;
        }
    }
    
    &_side-bar{
        flex: 1;
        padding: 5%;
        text-align: center;
        
        &_services{
            
        }
        
        &_options_list{
            text-align: left;
            text-transform: uppercase;
            padding: 10px;
            list-style: none;
            
            &_option{
                padding: 10px;
                border: solid 1px;
                
                &_selected:hover{
                    
                }
            }
        }
    }
}