.navbar {
    width: 100%;
    height: 3.1rem;
    line-height:50px;
    background: #1a1a1a;
    color: #fff;
    position: relative;
    
    &-btns{
        display: inline-block;
    }
}

.navbar-fixed {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
.menu{
    display: inline-block;
    &-item{
        display: inline-block;
        text-transform: uppercase;
    } 
    &-container{
        display: inline-block;
        
        @mixin smallScreen{
            display: none;
        }
    }
}

.menu .menu-item a {
    display: inline-block;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;

}
.menu .sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sub-menu {
    display: none;
}

.has-sub-menu {
    position: relative;
}

.has-sub-menu:hover .sub-menu {
    display: block;
}
.has-sub-menu .sub-menu-list {
    position: absolute;
    left: 0;
    background: #fff;
    color: #000;
    width: 170px;
}
.sub-menu-list .sub-menu .menu-item {
    text-transform: capitalize;
    display: block;
}
.sub-menu-list .sub-menu .menu-item a {
    display: block;
}
.navbar-dark .menu .menu-item a:link,
.navbar-dark .menu .menu-item a:visited{
    color: #fff;
}
.navbar-dark .menu .menu-item a:hover,
.navbar-dark .menu .menu-item.has-sub-menu:hover>a{
    background: #ccc;
    color: #333;
}

.sub-menu-list .sub-menu .menu-item a:link,
.sub-menu-list .sub-menu .menu-item a:visited{
    color: #333;
}
.logo-img{
    height: 100%;
    padding-right: 10px;
    margin-top: 8px;
    
}

.mobile-header-icon {
    display: none;
    
    @mixin smallScreen{
        content: '';
        float: left;
        display: inline-block;
        /*position: absolute;*/
        cursor: pointer;
        top: 30px;
        right: 30px;
        width: 20px;
        height: 19px;

        &::before {
            content: "";
            position: absolute;
            top: 16px;
            left: 15px;
            width: 20px;
            height: 3px;
            background-color: #fff;

            transform-origin: 0 0;
            transition: all .3s ease-out;
        }
        &-bar {
            position: absolute;
            top: 24px;
            left: 15px;
            width: 20px;
            height: 3px;
            background-color: #fff;

            transform-origin: 0 50%;
            transition: all .3s ease-out;
        }
        &::after {
            content: "";
            position: absolute;
            top: 32px;
            left: 15px;
            width: 20px;
            height: 3px;
            background-color: #fff;

            transform-origin: 0 100%;
            transition: all .3s ease-out;
        }

        &-close {
            &::before {
                transform: rotate(45deg) scale(1.3);
            }
            .mobile-header-icon-bar {
                transform: scaleX(0);
                opacity: 0;
            }
            &::after {
                transform: rotate(-45deg) scale(1.3) translateY(1px) translateX(-1px);
            }
         }
    }
}

.mobile-sub-menu{
    
    @mixin smallScreen{
        display: none;
    }
}

.has-sub-menu:hover .mobile-sub-menu{
    @mixin smallScreen{
         display: block;
    }
}
.mobile-menu {
    display: none;
    
    @mixin smallScreen {
        
        &-list{
            background-color: #1a1a1a;
            margin-top: 20px;
            margin-left: 30px;
            opacity: .8;
            display: inline-block;
            width: auto;
            padding-left: 20px;
            padding-right: 20px;
            list-style: none;
            
            &-item{
                /*list-style: none;*/
                & a{
                    color: #fff;
                    &:hover{
                        background: #fff;
                        color: #000;
                    }
                }
            }
        }
        
        &-active {
            display: block;
        }
    }
}

/*.is-current-link {
    color: $blue;
}*/
