.loader{
   /* width: 100%;
    height: 100%;*/
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    z-index: 99999;
    
   /* background-color: #1b4989;*/
    background: linear-gradient(to left, #163b6e 2%, #1b4989 82%);
}


.loader-inner{
    position: absolute;
    /*background: red;*/
    width: 100px;
    height: 100px;
    
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}
.loader-blocks{
    position: relative;
    
}


.loader-blocks span{
    content: "";
    position: absolute;
    display: block;
    opacity: 0;
    border: 12px solid transparent;
    border-bottom: 12px solid #eee;
    
    animation: load 4.6s ease-in-out 1;

}
.loader-blocks span::after{
    content: "";
    position: absolute;
    display: block;
    
    border: 12px solid transparent;
    border-top: 12px solid #eee;
    
    top: 12px;
    left: -12px;
}

.loader-blocks span.block-1 {
    top: 0;
    left: 0;
    animation-delay: 1.07s;
}

.loader-blocks span.block-2 {
    top: 0;
    left: 30px;
    animation-delay: 0.97s;
}

.loader-blocks span.block-3 {
    top: 0;
    left: 60px;
    animation-delay: 0.87s;
}

.loader-blocks span.block-4 {
    top: 30px;
    left: 0;
    animation-delay: 0.77s; 
}

.loader-blocks span.block-5 {
    top: 30px;
    left: 30px;
    animation-delay: 0.67s;
}

.loader-blocks span.block-6 {
    top: 30px;
    left: 60px;
    animation-delay: 0.57s;
}

.loader-blocks span.block-7 {
    top: 60px;
    left: 0;
    animation-delay: 0.47s;
}

.loader-blocks span.block-8 {
    top: 60px;
    left: 30px;
    animation-delay: 0.37s; 
}

.loader-blocks span.block-9 {
    top: 60px;
    left: 60px;
    animation-delay: 0.27s;
}

@keyframes load {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    15%{
        opacity: 0;
        transform: translateX(-100px);
    }
    30% {
        opacity: 1;
        transform: translateX(0);
    }
    60% {
        opacity: 1;
        transform: translateX(0);
    }
    75% {
        opacity: 1;
        transform: translateX(0);
    }
    85% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 0;
        transform: translateX(200px);
    }
}

