.preloader2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99999;
    /*height: 100%;*/
    width: 100%;
    animation: load2 10s linear 1;
    transition-delay: 4s;
    font-size: 0;
    
    font-family: 'Hanalei Fill', cursive;
    color: #fff;
    letter-spacing: 3px;
    
   /* background: linear-gradient(to left, #163b6e 2%, #1b4989 82%);*/
}

@keyframes load2{
    0%{
        opacity: 0;
        font-size: 0;
    }
    50%{
        opacity: 0;
        font-size: 0;
    }
    
    60%{
        opacity: 0.3;
        font-size: 50px;
    }
    65%{
        opacity: 0.5;
        font-size: 80px;
    }
    70%{
        opacity: 0.6;
        font-size: 100px;
    }
    80%{
        opacity: 1;
        font-size: 175px;
    }
    100%{
        opacity: 1;
        font-size: 100px;
    }
}

   @mixin smallScreen{
       
       @keyframes load2{
        0%{
        opacity: 0;
        font-size: 0;
        }
        50%{
            opacity: 0;
            font-size: 0;
        }

        60%{
            opacity: 0.3;
            font-size: 20px;
        }
        65%{
            opacity: 0.5;
            font-size: 30px;
        }
        70%{
            opacity: 0.6;
            font-size: 50px;
        }
        80%{
            opacity: 1;
            font-size: 63px;
        }
        100%{
            opacity: 1;
            font-size: 50px;
        }
    }
}