#services{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.service-item{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
    transition: all 2s ease-in-out;
    
    @mixin smallScreen{
        flex-direction: column;
    }
}
.service-subitem{
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: all 1s linear;
    
    &:hover{
    background-color: #1b4989;
    }
    
    &_title{
        transition: all 1s ease-in-out;
    }
    
    &_caption{
        transition: all 1s ease-in-out;
        margin-bottom: 40px;
    }
    
    &:hover &_title{
        transition: all 1s ease-in-out;
        transform: translateY(-100px);
        color: #fff;
        font: bold;
        font-size: 30px;
    }
    &:hover &_image{
        background: #000;
        opacity: 0;
        width: 90%;
        transition: all 1s ease-in-out;
    }
    &:hover &_caption{
        color: #fff;
        transform: translateY(-100px);
    }
    &:hover &_btn{
        background: white;
        color: #1b4989;
        font-weight: 200;
    }
}


