/*******************************************************************
                                SLIDER
*********************************************************************/

.owl-carousel {
    width: 100%;
    height: 100%;
}

.slide{
    width: 100%;
    height: 80%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

.owl-dots{
    width: 100%;
    text-align: center;
    /*position: absolute;
    bottom: 2%;*/
}
.owl-dots span{
    background-color: #1a1a1a;
}

.owl-nav{
    display: none;
}
