.testimonial_images{
    /*width: 50%;*/
    display: flex;
    
    @mixin smallScreen{
        flex-direction: column;
        flex-basis:100%;
        flex:1;
        max-width: 100%;
        padding: 10px;
        height: 100%;
    }
    
    &_div{
        flex: 1;
        margin-right: 10%;
        background-color: #1b4989;
        position: relative;
        display: inline-block;
    }
    
    &_image{
        /*flex: 1;*/
        width: 100%;
        height: 100%;
        
        &:hover{
            opacity: 50%;
            transition: all 1s ease-in-out;
        }
    } 
}

.add{
    position: absolute;
    /*display: none;*/
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 50px;
    top: 50%;
    /*transition: all 1s ease-in-out;*/
    opacity: 0;
}

.testimonial_images_image:hover .add{
    opacity: 1;
    /*display: block;*/
    transition: all 1s ease-in-out;
}

.testimonial_images_image{
    @mixin smallScreen{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
}
